<div class="container" id="app-main" style="margin-top: 20px">
</div>

<script>
BaconCannonConstant.Parsers = <%= RequestManager::Parsers.to_json.html_safe %>;
<% if @permlink %>
  BaconCannonConstant.Code = <%= @permlink.code.to_json.html_safe %>
  BaconCannonConstant.ASTs= <%= [@permlink.parse_results, @permlink.parse_result_errors].flatten.to_json.html_safe %>
<% end %>
</script>
