<div class="container" id="app-main" style="margin-top: 20px">
</div>

<script>
BaconCannonConstant.Parsers = <%= RequestManager::Parsers.to_json.html_safe %>;
<% if @parmlink %>
  BaconCannonConstant.Code = <%= @parmlink.code.to_json.html_safe %>
  BaconCannonConstant.ASTs= <%= [@parmlink.parse_results, @parmlink.parse_result_errors].flatten.to_json.html_safe %>
<% end %>
</script>
