<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>BaconCannon =~ An online Ruby parser</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta property="og:title" content="Bacon Cannon =~ An online Ruby parser">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://bacon-cannon.herokuapp.com">
    <meta property="og:image" content="https://bacon-cannon.herokuapp.com/og-image.png">
    <meta property="og:description" content="An online Ruby parser. Support multiple Ruby versions, and multiple parsers(Ripper and Parser gem).">
    <meta name="description" content="An online Ruby parser. Support multiple Ruby versions, and multiple parsers(Ripper and Parser gem).">
  </head>

  <script>
  var BaconCannonConstant = {};
  </script>

  <body>
    <div class="container">
      <h1 class="page-header">Bacon Cannon =~
        <small>An&nbsp;online&nbsp;Ruby&nbsp;parser</small>
      </h1>
    </div>

    <%= yield %>

    <div class="container" style="margin-bottom: 10px">
      <a href="https://github.com/pocke/bacon-cannon"><img src="/GitHub-Mark-32px.png" alt="GitHub Mark" height="20" width="20"> View it on GitHub</a>
    </div>
  </body>
</html>
