<!DOCTYPE html>
<html>
  <head>
    <title>BaconCannon =~ An online Ruby parser</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'hello_react' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <script>
  var BaconCannonConstant = {};
  </script>

  <body>
    <div class="container">
      <h1 class="page-header">Bacon Cannon =~
        <small>An&nbsp;online&nbsp;Ruby&nbsp;parser</small>
      </h1>
    </div>

    <%= yield %>

    <div class="container">
      <a href="https://github.com/pocke/bacon-cannon"><img src="/GitHub-Mark-32px.png" alt="GitHub Mark" height="20" width="20"> View it on GitHub</a>
    </div>
  </body>
</html>
