<!DOCTYPE html>
<html>
  <head>
    <title>BaconCanon</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'hello_react' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
